@import "../../styles/shared.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  padding-top: 60px;
  height: $mobile-upload-height;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: $soft-shadow;

  .form-close{
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .real-camera-input {
    display: none;
  }

  .fake-camera-input{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px $lightBlue solid;

    &.disabled{
      border-color: lightgrey;
    }
  }

  >.text-input, #languages{
    border: 1px lightgrey solid;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;

    &.empty{
      color: grey;
    }
  }

}
